@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <title>Checkout</title>

    <div class ="billing-details">
        <h3 class="toast-header">Billing Details</h3>

        <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="form-outline">
                        <input type="text" class="form-control" placeholder="First Name" required/>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="form-outline">
                        <input type="text" class="form-control" placeholder="Last Name" />
                    </div>
                </div>
            
                
            </div>

            <!-- Email input -->
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="email" class="form-control" placeholder="Email" />
                    </div>
                </div>
            </div>
            

            <!-- Contact Number -->
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="form-outline">
                        <input type="number" class="form-control" placeholder="Mobile Number" />
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="form-outline">
                        <input type="text" class="form-control" placeholder="Country" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" class="form-control" placeholder="Address" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="form-outline">
                        <input type="text" class="form-control" placeholder="Town/City" />
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="form-outline">
                        <input type="text" class="form-control" placeholder="District" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" class="form-control" placeholder="Shipping Address" />
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div class="row">
                <div class="col-md-6 mb-4 text-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                        Submit
                    </button>
                </div>
            </div>
            
        </form>
    </div>

}
